<!-- Validation failure messages -->
<% if @direct_cost.errors.any? %>
  <% @direct_cost.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Direct Cost #<%= @direct_cost.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_direct_cost/<%= @direct_cost.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for amount -->
      <div class="form-group">
        <label for="amount" class="control-label">
          Amount
        </label>

        <input type="text" id="amount" name="amount" placeholder="Amount" class="form-control" value="<%= @direct_cost.amount %>">
      </div>

      <!-- Label and input for category_name -->
      <div class="form-group">
        <label for="category_name" class="control-label">
          Category name
        </label>

        <input type="text" id="category_name" name="category_name" placeholder="Category name" class="form-control" value="<%= @direct_cost.category_name %>">
      </div>

      <!-- Label and input for project_id -->
      <div class="form-group">
        <label for="project_id" class="control-label">
          Project
        </label>

        <input type="text" id="project_id" name="project_id" placeholder="Project" class="form-control" value="<%= @direct_cost.project_id %>">
      </div>

      <button class="btn btn-warning">
        Update Direct Cost
      </button>
      or
      <a href="/direct_costs/<%= @direct_cost.id %>">Cancel</a>
    </form>
  </div>
</div>
