<!-- Validation failure messages -->
<% if @project.errors.any? %>
  <% @project.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <div class="col-md-offset-2">
    <h2>Add Project</h2>
    <h4>The "Should Cost Model Builder" tool allows users to analyze the gap between what a product or service should cost versus what it does cost. This allows you to negotiate the price on the basis of numbers and facts, not relationships or budgets.</h4>
    <h4>Direct costs are determined based on the individual components or labor required to deliver the product or service. Research and Development (R&D), Sales General and Administrative (SG&A), and Profit (EBIT Margin) are considered indirect costs, and are dependent upon the direct cost of the product or service. Please input percentages as whole numbers (i.e. 4% = 4) based on industry comparables or the company itself.</h4>
    <h4>The final result is a gap between actual and should cost.</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form action="/create_project" method="post">

      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <input type="hidden" id="user_id" name="user_id" value="<%= current_user.id %>">

      <div class="form-group">
        <label for="project_name" class="control-label">
          Project Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @project.name %>">
      </div>

      <div class="form-group">
        <label for="industry" class="control-label">
          Industry
        </label>

        <input type="text" id="industry" name="industry" placeholder="Industry" class="form-control" value="<%= @project.industry %>">
      </div>

      <div class="form-group">
        <label for="actual_cost" class="control-label">
          Actual Cost
        </label>

        <input type="text" id="actual_cost" name="actual_cost" placeholder="Actual Cost" class="form-control" value="<%= @project.actual_cost %>">
      </div>

      <div class="form-group">
        <label for="direct_costs" class="control-label">
          Direct Costs
        </label>

        <input type="text" id="direct_costs" name="direct_costs" placeholder="Direct costs" class="form-control" value="<%= @project.direct_costs %>">
      </div>

        <label>
          Indirect Costs
        </label>

      <div class="form-group">
        <label for="rd" class="control-label">
          R&D %
        </label>

        <input type="text" id="rd" name="rd" placeholder="R&D" class="form-control" value="<%= @project.rd %>">
      </div>

      <div class="form-group">
        <label for="sga" class="control-label">
          SG&A %
        </label>

        <input type="text" id="sga" name="sga" placeholder="SG&A" class="form-control" value="<%= @project.sga %>">
      </div>

      <div class="form-group">
        <label for="profit" class="control-label">
          EBIT Margin %
        </label>

        <input type="text" id="profit" name="profit" placeholder="EBIT Margin" class="form-control" value="<%= @project.profit %>">
      </div>

      <button class="btn btn-success">
        Create Project
      </button>
      or
      <a href="/projects">Cancel</a>
    </form>
  </div>
</div>
