<!-- Validation failure messages -->
<% if @project.errors.any? %>
  <% @project.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Project</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_project" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" id="user_id" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for project name -->
      <div class="form-group">
        <label for="project_name" class="control-label">
          Project Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @project.name %>">
      </div>

      <!-- Label and input for indirect_costs -->
        <label>
          Indirect Costs
        </label>

      <div class="form-group">
        <label for="rd" class="control-label">
          R&D %
        </label>

        <input type="text" id="rd" name="rd" placeholder="R&D" class="form-control" value="<%= @project.rd %>">
      </div>

      <div class="form-group">
        <label for="sga" class="control-label">
          SG&A %
        </label>

        <input type="text" id="sga" name="sga" placeholder="SG&A" class="form-control" value="<%= @project.sga %>">
      </div>

      <div class="form-group">
        <label for="profit" class="control-label">
          EBIT Margin %
        </label>

        <input type="text" id="profit" name="profit" placeholder="EBIT Margin" class="form-control" value="<%= @project.profit %>">
      </div>

      <!-- Label and input for direct_costs -->
      <div class="form-group">
        <label for="direct_costs" class="control-label">
          Direct Costs
        </label>

        <input type="text" id="direct_costs" name="direct_costs" placeholder="Direct costs" class="form-control" value="<%= @project.direct_costs %>">
      </div>

      <!-- Label and input for actual_cost -->
      <div class="form-group">
        <label for="actual_cost" class="control-label">
          Actual Cost
        </label>

        <input type="text" id="actual_cost" name="actual_cost" placeholder="Actual Cost" class="form-control" value="<%= @project.actual_cost %>">
      </div>

      <!-- Label and input for industry -->
      <div class="form-group">
        <label for="industry" class="control-label">
          Industry
        </label>

        <input type="text" id="industry" name="industry" placeholder="Industry" class="form-control" value="<%= @project.industry %>">
      </div>


      <button class="btn btn-success">
        Create Project
      </button>
      or
      <a href="/projects">Cancel</a>
    </form>
  </div>
</div>
