<div class="page-header">
  <h3><%= @project.name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @project.user.username %></dd>

      <dt>Indirect costs</dt>
      <dd>$<%= @indirect %></dd>

      <dt>Direct costs</dt>
      <dd>$<%= @project.direct_costs %></dd>

      <dt>Gap dollar</dt>
      <dd>$<%= @gap_dollar %></dd>

      <dt>Gap percent</dt>
      <dd><%= @gap_percent %>%</dd>

      <dt>Should cost</dt>
      <dd>$<%= @total %></dd>

      <dt>Actual cost</dt>
      <dd>$<%= @project.actual_cost %></dd>

      <dt>Industry</dt>
      <dd><%= @project.industry %></dd>

      <dt>Name</dt>
      <dd><%= @project.name %></dd>

    </dl>

    <% if current_user.id==@project.user_id %>
    <div class="btn-group btn-group-justified">
      <a href="/projects" class="btn btn-primary">
        Back
      </a>
      <a href="/projects/<%= @project.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_project/<%= @project.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    <% else %>
    <div class="btn-group btn-group-justified">
      <a href="/projects" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>
<% end %>
