<div class="page-header">
  <div class="col-md-offset-2">
    <h2><%= @project.name %></h2>
    <% if @gap_percent < 0 %>
    <h4>The gap of this project is <%= @gap_percent %>%. This means that you are either getting a great deal on this product or service, or that your assumptions are overly conservative.</h4>
    <% elsif @gap_percent < 10 %>
    <h4>The gap of this project is <%= @gap_percent %>%. This is considered relatively small. It is recommended that you pursue higher priority projects instead.</h4>
    <% elsif @gap_percent < 20 %>
    <h4>The gap of this project is <%= @gap_percent %>%. This is considered somewhat high. It is recommended that you negotiate more favorable rates for this product or service. This is not, however, a top priority project.</h4>
    <% else %>
    <h4>The gap of this project is <%= @gap_percent %>%. This is considered very high. It is recommended that you negotiate more favorable rates for this product or service immediate. This should be a high priority project.</h4>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @project.user.username %></dd>

      <dt>Industry</dt>
      <dd><%= @project.industry %></dd>

      <dt>Direct costs</dt>
      <dd><%= number_to_currency(@project.direct_costs) %></dd>

      <dt>Indirect costs</dt>
      <dd><%= number_to_currency(@indirect) %></dd>

      <dt>Should cost</dt>
      <dd><%= number_to_currency(@total) %></dd>

      <dt>Actual cost</dt>
      <dd><%= number_to_currency(@project.actual_cost) %></dd>

      <dt>Gap dollar</dt>
      <dd><%= number_to_currency(@gap_dollar) %></dd>

      <dt>Gap percent</dt>
      <dd><%= @gap_percent %>%</dd>

    </dl>

    <% if current_user.id==@project.user_id %>
    <div class="btn-group btn-group-justified">
      <a href="/projects" class="btn btn-primary">
        Back
      </a>
      <a href="/projects/<%= @project.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_project/<%= @project.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    <% else %>
    <div class="btn-group btn-group-justified">
      <a href="/projects" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>
<% end %>
